/*HEADER STYLES*/
.header-container{
    text-align: center;
    padding-top: 10px;
}

.links-out{
    padding-top: 10px;
    
    justify-content: space-between;
}


/* BODY STYLES */
.body-container{
    padding: 2%;
}
.body-container > h2,h3,p{
    padding-bottom: 10px;
}
.body-container > p {
    padding-left: 1%;
}
.body-container > h3{
    padding-top: 10px;
    text-decoration: underline;
}

.body-container > h2 {
    
    font-size: 1.6em;
}

.images-container{
    padding-top: 1%;
    text-align: center;
}
.images-container > img {
    width: 30%;
    transition: 1s ease;
}

.images-container > img:hover {
    transform: scale(1.75);
    transition: 1s ease;
}

.spacer{
    padding-top: 10px;
}
